{% extends 'mainApp/base.html' %}
{% load static %}

{% block edge %}
<body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <img src="{%static 'img/logo/main_logo.png'%}" class='img-fluid'/>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">How do you feel today? 👋</h4>
              <p class="mb-4">오늘의 기분을 기록하러 가볼까요?</p>

              <form class="mb-3" action="{% url 'user:login' %}" method="POST">
                {% csrf_token %}
                {% include 'userApp/detail/form_error.html'%}
                <div class="mb-3">
                  <label for="email" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                    <a href="auth-forgot-password-basic.html">
                      <small>Forgot Password?</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" value="login" id="login" type="submit">Sign in</button>
                </div>
              </form>

              <p class="text-center">
                <span>아직 회원이 아니신가요?</span>
                <a href="{% url 'user:signup'%}">
                  <span>회원 가입하러 고!</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->


{% endblock edge %}
