{% extends 'mainApp/base.html' %}
<h1> mypage </h1>

이름: {{ user.full_name }}<br>
이메일: {{ user.email }}<br>
가입일: {{ user.date_joined }}<br>



{% load static %}

{% block edge %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="d-flex justify-content-center">

            <a href="{% url 'main' %}" class="app-brand-link">
              <img src="{%static 'img/logo/main_logo.png'%}" class='img-fluid'/>

            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{% url 'main' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">메인 페이지</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'bbs:free' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-list-ul bx-tada-hover"></i>
                  <div data-i18n="Analytics">자유게시판</div>
              </a>
            </li>

            <!-- Layouts -->

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">상세 보기</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'calendar' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-calendar"></i>
                    <div data-i18n="Boxicons">달력으로 보기</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'chart' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
                    <div data-i18n="Boxicons">차트로 보기</div>
                  </a>
                </li>
              </ul>
            </li>


            <li class="menu-item">

            </li>
            <li class="menu-item">

            </li>
            <li class="menu-item">
              
            </li>
            <li class="menu-item">
              <a href="{% url 'remind'%}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-history"></i>
                <div data-i18n="Boxicons">추억 돌아보기</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'tamagotchi' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div data-i18n="Boxicons">알 키우기</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'share' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cool"></i>
                <div data-i18n="Boxicons">다른 사람은?</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <span class="badge bg-primary" id='CurrentTime' onload='showTime()'></span>
                  <script>
                    function showTime(){
                      var date = new Date();
                      var h = date.getHours(); // 0 - 23
                      var m = date.getMinutes(); // 0 - 59
                      var s = date.getSeconds(); // 0 - 59
                      var session = "AM";
                      
                      if(h == 0){
                          h = 12;
                      }
                      
                      if(h > 12){
                          h = h - 12;
                          session = "PM";
                      }
                      
                      h = (h < 10) ? "0" + h : h;
                      m = (m < 10) ? "0" + m : m;
                      s = (s < 10) ? "0" + s : s;
                      
                      var time = '현재 시각 :' + h + ":" + m + ":" + s + " " + session;
                      document.getElementById("CurrentTime").innerText = time;
                      document.getElementById("CurrentTime").textContent = time;
                      
                      setTimeout(showTime, 1000);
                      
                  }
                  
                  showTime();
                  </script>
                  </div>
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static 'mainApp/assets/img/favicon/7.png'%}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{% static 'mainApp/assets/img/favicon/7.png'%}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            {% if user.is_authenticated %}
                              <span class="fw-semibold d-block">{{ user.username }}</span>
                              <small class="text-muted">User</small>
                            {% endif %}
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'user:mypage' %}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'user:logout' %}">
                        {% if user.is_authenticated %}
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                        {% else %}
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log In</span>
                        {% endif %}
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->



          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- {% block content %} -->
  
                <div class="row">
                  <div class="col-md-12">
                    <br><br>
                    <ul class="nav nav-pills flex-column flex-md-row mb-3">
                      <li class="nav-item">
                        <h1 style="font-family: 'Dongle', sans-serif; font-size : 70px; font-weight: bold;"> Account </h1>
                      </li>
                    </ul>
                    <br>
                    <div class="card mb-4">
                      <h5 class="card-header">Profile Details</h5>
                      <!-- Account -->
                      <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                          <img
                            src="{% static 'mainApp/assets/img/favicon/7.png'%}"
                            alt="user-avatar"
                            class="d-block rounded"
                            height="100"
                            width="100"
                            id="uploadedAvatar"
                          />
                          <div class="button-wrapper">
                            
                          </div>
                        </div>
                      </div>
                      <hr class="my-0" />
                      <div class="card-body">
                          <div class="row">
                            <div class="mb-3 col-md-6">
                              <label for="firstName" class="form-label">Name</label>
                              <span class="form-control" />{{ user.full_name }}</span>
                            </div>
                            <div class="mb-3 col-md-6">
                              <label for="lastName" class="form-label">e-mail</label>
                              <span class="form-control" />{{ user.email }}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="mb-3 col-md-6">
                              <label for="firstName" class="form-label">가입일</label>
                              <span class="form-control" />{{ user.date_joined }}</span>
                            </div>
                            <div class="mb-3 col-md-6">
                              <label for="lastName" class="form-label">빈 값</label>
                              <span class="form-control" /> - </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                      </div>
                      <div class="col">
                      </div>
                      <div class="col">
                      </div>
                      <div class="col">
                      </div>
                      
                      <div class="col">
                      
                    
                    <a href={% url "user:edit_profile" %}><button type="button" class="btn btn-dark">회원정보 수정</button></a>
                    <a href={% url "user:delete" %}><button type="button" class="btn btn-danger">회원탈퇴</button></a>
                    </div>
                  </div>
                  </div>



























              <!-- {% endblock content %} -->
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  Aivle School <strong>AI 수도권 1반 1조</strong>
                </div>
                <div>
                  이대용 | 전현근 | 천명철 | 편승희 | 홍지의
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
{% endblock edge %}
