{% extends 'mainApp/base.html' %}
{% comment %} <h1> 회원 가입 </h1>

{% if error %}
    {{ error }}
{% endif %}

<form action="{% url 'user:signup' %}" method="POST">
    {% csrf_token %}
    Username <input type="text" name="username" id="username"><br><br>

    Password <input type="password" name="password" id="password"> <br>
    Re-enter Password <input type="password" name="password2" id="password2"> <br><br>

    Name <input type="text" name="full_name" id="full_name"><br><br>

    Email <input type="email" name="email" id="email"><br><br>

    <input type="submit" value="signup">

</form> {% endcomment %}


{% load static %}

{% block edge %}
        <!-- Content -->

    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
              <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  <a href="{% url 'main' %}">
                    <img src="{%static 'img/logo/main_logo.png'%}" class='img-fluid'/>
                  </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Adventure starts here 🚀</h4>
                <p class="mb-4">Make your app management easy and fun!</p>
  
                <form id="formAuthentication" class="mb-3" action="{% url 'user:signup' %}" method="POST">
                  {% csrf_token %}

                  {% if form.errors %}
                  <div class="alert alert-primary alert-dismissible" role="alert">

                    {% for field in form %}
                    <!-- 필드 오류 -->
                      {% if field.errors %}
                      <div>
                          <strong>{{ field.label }}</strong>
                          {{ field.errors }}
                      </div>
                      {% endif %}
                    {% endfor %}

                    <!-- 넌필드 오류 -->
                    {% for error in form.non_field_errors %}
                      <div>
                          <strong>{{ error }}</strong>
                      </div>
                    {% endfor %}
                    
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endif %}

                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      placeholder="Enter your username"
                      autofocus
                    />
                  </div>
                  

                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password">Password</label>
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="password1"
                        class="form-control"
                        name="password1"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>
                  <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="password">Re-enter Password</label>
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="password2"
                        class="form-control"
                        name="password2"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="full_name" class="form-label">name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="full_name"
                      name="full_name"
                      placeholder="Enter your full name"
                      autofocus
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-grid w-100" type="submit" value="signup">Sign up</button>
                  </div>
                  </form>
                
                <p class="text-center">
                  <span>이미 계정이 있으신가요?</span>
                  <a href="{% url 'user:login'%}">
                    <span>로그인하러 고!</span>
                  </a>
                </p>
              </div>
            </div>
            <!-- Register Card -->
          </div>
        </div>
      </div>
  
      <!-- / Content -->

{% endblock edge %}