<script>
  document.addEventListener('DOMContentLoaded', function() {
    
    var calendarEl = document.getElementById('calendar');
    let eventDict = {}                  
    var diary = "{{ diary }}"
      
    var calendar = new FullCalendar.Calendar(calendarEl,{
      height:780,
      customButtons: {
        myCustomButton: {
          text: '글쓰기',
          click: function() {
            window.location.href="{% url 'post' %}"; // 다이어리 작성 링크
          }
        }
      },
      headerToolbar: {
        left: 'myCustomButton',
        center: 'title',
      },
      selectable: true,
      businessHours: true,
      dayMaxEvents: true, // allow "more" link when too many events
      
      events: [
        {% for diary1 in diary %}
            {
              title: "{{ diary1.title }}",
              date: "{{ diary1.date | date:'Y-m-d' }}",
              url : "{% url 'diary_view' id=diary1.id %}", //다이어리 view 링크
              display : 'list-item'
            },
          {% endfor %}
      ],
      eventColor: '#bd96fc'
      // 다이어리 데이터 이벤트에 추가
    });
    
    calendar.render();
  });
</script>


<div id='calendar'></div>