<script>

  {% comment %} 라벨링에 따라 변동 {% endcomment %}

  const labels2 = ['공포', '놀람', '분노', '슬픔', '중립', '행복', '혐오'];
  const data2 = {
    labels: labels2,
    datasets: [{
      label: '감정 모아보기',
      
      data: [
        "{{ user_emotions.terrified }}", 
        "{{ user_emotions.surprised }}", 
        "{{ user_emotions.angry }}", 
        "{{ user_emotions.sad }}", 
        "{{ user_emotions.neutral }}", 
        "{{ user_emotions.happy }}", 
        "{{ user_emotions.hate }}", 
      ],
      
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(221, 108, 65)',
      'rgb(255, 205, 86)',
      'rgb(0, 205, 86)',
      'rgb(54, 162, 235)',
      'rgb(62, 86, 122)',
      'rgb(155, 97, 163)',
      ],
    }]
  };
  const config2 = {
    type: 'doughnut',
    data: data2,
    options: {}
  };
</script>

<canvas id="feeling"  style="margin: 10 auto;"></canvas>
<script>
  const feeling = new Chart(
            document.getElementById('feeling'),
            config2
          );
</script>