<div class="chart-area d-flex justify-content-center">
  <div id="container" style= 'width: 500px;height: 500px;'></div>
</div>

<div class="row">


</div>

<script> anychart.onDocumentReady(function () {
    var data = [
      {% for i,j in cnt %}
      {
        "x": "{{i}}",
        "value": {{j|safe}},
        {% comment %} category: "Afro-Asiatic" {% endcomment %}
      },
      {% endfor %}

    ];
    var chart = anychart.tagCloud(data);
    chart.angles([0]);
    chart.container("container");
    chart.draw();
  }
  );
</script>