
{% extends 'mainApp/base.html' %}
{% load static %}

{% block edge %}
<style>
  ::-webkit-scrollbar {
    width: 2px;
    height :11px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #647b97;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    display: none;
    background-color: #d8d7ff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px white;
  }
</style>
<script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="d-flex justify-content-center">
            <a href="{% url 'main' %}" class="app-brand-link">
              <img src="{%static 'img/logo/main_logo.png'%}" class='img-fluid'/>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{% url 'main'%}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">메인 페이지</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'bbs:free' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-list-ul bx-tada-hover"></i>
                  <div data-i18n="Analytics">자유게시판</div>
              </a>
            </li>

            <!-- Layouts -->

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">상세 보기</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'calendar' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-calendar"></i>
                    <div data-i18n="Boxicons">달력으로 보기</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'chart' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
                    <div data-i18n="Boxicons">차트로 보기</div>
                  </a>
                </li>
                {% comment %} <li class="menu-item">
                  <a href="{% url 'media' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-music"></i>
                    <div data-i18n="Boxicons">Media 추천보기</div>
                  </a>
                </li> {% endcomment %}
              </ul>
            </li>


            <li class="menu-item">

            </li>
            <li class="menu-item">

            </li>
            <li class="menu-item">
              
            </li>
            <li class="menu-item active">
              <a href="{% url 'remind'%}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-history"></i>
                <div data-i18n="Boxicons">추억 돌아보기</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'tamagotchi' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div data-i18n="Boxicons">알 키우기</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'share' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cool"></i>
                <div data-i18n="Boxicons">다른 사람은?</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <span class="badge bg-primary" id='CurrentTime' onload='showTime()'></span>
                <script>
                  function showTime(){
                    var date = new Date();
                    var h = date.getHours(); // 0 - 23
                    var m = date.getMinutes(); // 0 - 59
                    var s = date.getSeconds(); // 0 - 59
                    var session = "AM";
                    
                    if(h == 0){
                        h = 12;
                    }
                    
                    if(h > 12){
                        h = h - 12;
                        session = "PM";
                    }
                    
                    h = (h < 10) ? "0" + h : h;
                    m = (m < 10) ? "0" + m : m;
                    s = (s < 10) ? "0" + s : s;
                    
                    var time = '현재 시각 :' + h + ":" + m + " " + session;
                    document.getElementById("CurrentTime").innerText = time;
                    document.getElementById("CurrentTime").textContent = time;
                    
                    setTimeout(showTime, 1000);
                    
                }
                
                showTime();
                </script>
                </div>
                

              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static 'mainApp/assets/img/avatars/1.png'%}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{% static 'mainApp/assets/img/avatars/1.png'%}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            {% if user.is_authenticated %}
                            <span class="fw-semibold d-block">{{ user.username }}</span>
                            <small class="text-muted">User</small>
                          {% endif %}
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'user:mypage' %}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'user:logout' %}">
                        {% if user.is_authenticated %}
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                        {% else %}
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log In</span>
                        {% endif %}
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->



          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-fluid">
              <div class="row">
                <br><br>
              </div>
              <div class="row">
                <br>

                <h1 class="display-1" id="myElement" style="font-family: 'Poor Story', cursive; font-size : 70px; font-weight: bold;"></h1>
                <!-- The script itself, loaded AFTER your root element. -->
                <script src="<https://unpkg.com/typeit@8.4.0/dist/index.umd.js>"></script>
                <script>
                  new TypeIt("#myElement", {strings: "추억 돌아보기",}).go();
                </script>
              </div>
              <div class="d-flex justify-content-between">
                <div class="w-5 btn-group">
                  <!-- <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    효과 전환
                  </button> -->
                  <ul class="dropdown-menu" style="">
                    <li><a class="dropdown-item" href="javascript:void(0);">기본 보기</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">미야자키 하야오</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">호소다 마모루</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">신카이 마코토</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Paprika</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-outline-secondary" onclick="iso.shuffle()">추억 섞어 보기</button>
              </div>
                <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
              <div class="row mt-3">
                <div>
                  <style>
                    .grid {
                      background: #DDD;
                    }
                    
                    /* clear fix */
                    .grid:after {
                      content: '';
                      display: block;
                      clear: both;
                    }
                    
                    /* ---- .grid-item ---- */
                    
                    .grid-sizer,
                    .grid-item {
                      width: 25%;
                    }
                    
                    .grid-item {
                      float: left;
                    }
                    
                    .grid-item img {
                      display: block;
                      max-width: 100%;
                    }
                    
                    .bottom-right {
                      position: absolute;
                      bottom: 4px;
                      right: 16px;
                    }
                  </style>
                  <div class="grid">
                    <div class="grid-sizer"></div>
                    {% for diary in diary %}
                    {% if diary.id%}
                    <a href="{% url 'diary_view' id=diary.id %}">
                      <div class="grid-item">
                        {% if diary.image %}
                        <img src='{{diary.image.url}}'>
                        {% comment %} {% else %}
                        <img src="{% static 'mainApp/assets/img/elements/18.jpg'%}"> {% endcomment %}
                        {% endif %}
                        <h5 style="color:white;" class="bottom-right">{{ diary.date|date:'Y-m-d' }}</h5>
                      </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% comment %} <!--테스트용 시작 삭제 가능-->
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
                      </div>
                    <!-- 테스트용 끝 삭제 가능--> {% endcomment %}
                  </div>

                </div>
            </div>
          </div>
            <script>
              // init Masonry
              var grid = document.querySelector('.grid');

              var iso = new Isotope( grid, {
                itemSelector: '.grid-item',
                percentPosition: true,
                masonry: {
                  columnWidth: '.grid-sizer'
                }
              });
              
            </script>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  Aivle School <strong>AI 수도권 1반 1조</strong>
                </div>
                <div>
                  이대용 | 전현근 | 천명철 | 편승희 | 홍지의
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
{% endblock edge %}

